body{
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Balsamiq Sans';
}

.auto-header{
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.auto-header:hover {
  background-color: #B0B0B0;
}

.auto-header:hover .jar{
  color: white;
  border-color: white;
  border-top-color: rgba(0, 0, 0, 0);
}

.headtitle{
  font-size: 42px;
  color: green;
}

.jar{
  color: grey;
  border-style: solid;
  border-color: grey;
  border-top-color: rgba(0, 0, 0, 0);
  padding: 5px 2px 0px 2px;
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.jaranimation{
  padding: 5px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: brown;
  animation: jar 4s infinite;
}

@keyframes jar {
  50%{padding: 15px 2px;}
  100%{padding: 5px 2px;}
}

.auto-main{
  width: 700px;
  margin: 160px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.info{
  margin: 0px auto 20px auto;
}

.quest{
  height: 20px;
  font-family: 'Balsamiq Sans', cursive;
  width: 100%;
  margin: 5px 0px;
  border-style: solid;
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
}

.quest:hover{
  box-shadow: 0px 0px 8px silver;
}

.ask{
  margin: 8px 0px 4px 0px;
}

.ask-1{
  display: flex;
  flex-direction: row;
}

.quest-date{
  color: grey;
  border-style: solid;
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
}

.quest-date:hover{
  box-shadow: 0px 0px 8px silver;
}

.ask-radio{
  margin: 9px 3px 0px 3px;
}

.gradient-fon1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: linear-gradient(0deg, rgba(111,111,111,1) 0%, rgba(197,197,197,1) 44%, rgba(255,255,255,1) 100%);
  height: auto;
  padding: 0px 0px 100px 0px;
}

.nebo{
  font-size: 14px;
  text-align: center;
}

.webs{
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.cobweb-1{
  position: absolute;
  bottom: -100%;
  left: 0px;
  transform: rotate(-90deg);
  height: 120px;
}

.cobweb-2{
  position: absolute;
  right: 0px;
  bottom: -100%;
  height: 250px;
  transform: rotate(-180deg);
}

.gradient-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}

.ask-checkbox{
  margin: 9px 3px 0px 3px;
}

.auto-foot{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auto-sum{
  font-family: 'Balsamiq Sans', cursive;
  margin: 0px;
  border-radius: 5px;
  font-size: 20px;
  padding: 3px 4px;
  text-decoration: none;
  box-shadow: 0px 0px 10px orange;
  transition: all 0.6s ease;
  animation: rainbow 2s infinite;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 10s linear infinite;
}

@-webkit-keyframes rainbow {
  0% {background-position: 0% 50%}
  25% {box-shadow: 0px 0px 15px MediumSlateBlue;}
  50% {background-position: 100% 50%; box-shadow: 0px 0px 10px ForestGreen;}
  75% {box-shadow: 0px 0px 15px Fuchsia;}
  100% {background-position: 0% 50%; box-shadow: 0px 0px 10px orange;}
}

@keyframes rainbow {
  0% {background-position: 0% 50%}
  25% {box-shadow: 0px 0px 15px MediumSlateBlue;}
  50% {background-position: 100% 50%; box-shadow: 0px 0px 10px ForestGreen;}
  75% {box-shadow: 0px 0px 15px Fuchsia;}
  100% {background-position: 0% 50%; box-shadow: 0px 0px 10px orange;}
}

.sum-fon{
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
  border-style: solid;
  border-color: #B8B8F3;
  background-color: #D7B8F3;
  transition: background-color 0.3s ease;
}

.sum-fon:hover{
  background-color: #B8B8F3;
  border-color: #D7B8F3;
}

.auto-footer{
  margin: 0px;
  color: rgba(0, 0, 0, 0);
}

.sum-fon:hover .auto-header{
  color: white
}

/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */
/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */
/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */
/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */
/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */

.main-header{
  height: auto;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.menu{
  padding: 0px 8px;
}

.main-nav-list{
	margin: 0px;
  padding: 0px;
}

.main-nav-item{
	display: inline-block;
	padding: 8px 10px;
}

.main-nav-link{
  font-size: 20px;
	color: green;
  text-decoration: none;
  padding: 10px 0px;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  transition: color 0.5s, border-top-color 0.5s, border-bottom-color 0.5s, padding 0.5s ease;
}

.main-menu-list{
  padding: 0px;
}

.main-header:hover {
  background-color: #B0B0B0;
}

.main-header:hover .jar{
  color: white;
  border-color: white;
  border-top-color: rgba(0, 0, 0, 0);
}

.main-header:hover .main-nav-link{
  color: white;
}

.main-header:hover .main-nav-link:hover{
  border-top-color: brown;
  padding: 6px 0px;
}

.main-main{
  width: 100%;
  margin: 190px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-article{
  padding: 12px;
}

.main-article-header{
  text-align: center;
  margin: 10px 0px 20px 0px;
  font-size: 32px;
  color: green;
}

.main-article-main{
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-article-main-text{
  margin: 0px 8px;
}

.main-article-main-img1{
  height: 650px;
}

.main-article-main-text-b{
  font-size: 26px;
}

.main-footer{
  font-weight: 100;
  transition: color 0.4s;
}

.main-footer:hover{
  color: magenta;
}

/* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */
/* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */
/* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */
/* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */
/* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */ /* GALERY */

.galery-main{
  justify-content: center;
  margin: 160px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  flex-wrap: wrap;
  width: 100%;
}

.galer-unit{
  height: 600px;
  width: 600px;
  margin: 7%;
}

.galer-text{
  width: 600px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.unit-text{
  font-size: 24px;
  color: rgba(0, 0, 0, 0);
  transition: color 0.6s;
}

.unit-text-header{
  color: rgba(0, 0, 0, 0);
  margin: auto;
  transition: color 0.6s;
  font-size: 34px;
}
.galer-unit:hover .unit-text{
  color: brown;
}

.galer-unit:hover .unit-text-header{
  color: brown;
}

.unit1{
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/e5/df/a9/e5dfa90ca6ad3c81d54051ecc7017ae2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.6s;
  display: flex;
  align-items: center;
}

.galer-unit:hover .unit1{
  filter: blur(8px);
}

.unit2{
  width: 100%;
  height: 100%;
  background-image: url("https://polit.ru/media/photolib/2014/12/10/Око_Саурона_1418230497.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.6s;
  display: flex;
  align-items: center;
  z-index: 1;
}

.galer-unit:hover .unit2{
  filter: blur(8px);
}

.unit3{
  width: 100%;
  height: 100%;
  background-image: url("https://sdo.miigaik.ru/pluginfile.php/22409/course/overviewfiles/6.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.6s;
  display: flex;
  align-items: center;
  z-index: 1;
}

.galer-unit:hover .unit3{
  filter: blur(8px);
}

.unit4{
  width: 100%;
  height: 100%;
  background-image: url("https://avatars.mds.yandex.net/get-zen_doc/1591494/pub_5d0ce9fba346fd00affa65fd_5d0e27723f7c1100b029a915/scale_1200");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.6s;
  display: flex;
  align-items: center;
  z-index: 1;
}

.galer-unit:hover .unit4{
  filter: blur(8px);
}

.galery-footer{
  width: 100%;
  color: silver;
  text-align: center;
}

.galery-footer-link{
  text-decoration: none;
  color: silver;
  transition: color 0.6s, text-shadow 0.6s;
}

.galery-footer:hover .galery-footer-link{
  color: grey;
  text-shadow: 0px 0px 15px silver;
}

/* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */
/* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */
/* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */
/* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */
/* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */ /* NEWS */

.news-main{
  margin: 250px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: baseline;
}

.main-menu-list-art{
  margin: 0px 0px 8px 0px;
  padding: 0px;
}

.main-nav-link-art{
  font-size: 20px;
	color: green;
  text-decoration: none;
  padding: 10px 0px;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  transition: color 0.5s, border-top-color 0.5s, border-bottom-color 0.5s, padding 0.5s ease;
}

.main-header:hover .main-nav-link-art{
  color: white;
}

.main-header:hover .main-nav-link-art:hover{
  color: green;
}

.main-article-header-art{
  width: auto;
  text-align: left;
  margin: 10px 0px 0px 0px;
  font-size: 32px;
  color: green;
}

.news-article{
  width: 30%;
  height: auto;
  padding: 24px;
}

.news-article-main-text{
  font-weight: normal;
}
